<nav style="background: #1976d2; padding: 1rem; color: white;">
  <a routerLink="/" style="color: white; margin-right: 1rem;">Home</a>
  <a routerLink="/login" style="color: white; margin-right: 1rem;">Login</a>
  <a routerLink="/register" style="color: white; margin-right: 1rem;">Register</a>
  <a routerLink="/edit-profile" style="color: white; margin-right: 1rem;">edit-profile</a>
  <!-- <a routerLink="/register" style="color: white;">Register</a> -->
</nav>

<div style="padding: 2rem;">
  <h1>Welcome to Our App 🚀</h1>
  <p>This is the landing page. Please login or register to continue.</p>
</div>
